*{
    margin: 0;
    padding: 0;
}

body {
    min-width: 375px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(185, 41%, 84%);
    font-size: 1rem;
    font-family: 'Space Mono', monospace;
}

#billAmount {
    text-align: right;
    font-size: 1rem;
    background: url(./img/icon-dollar.svg) 10px no-repeat scroll;
}
.textNumberOfPeople{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

p {
    color: hsl(172, 67%, 45%);
}

h3 {
    margin-left: auto;
    color: red;
}
h2 {
    color: white;
}
h1{
    color: hsl(172, 67%, 45%);
    font-size: 1rem;
}



#peopleAmount {
    text-align: right;
    font-size: 1rem;
    background: url(./img/icon-person.svg) no-repeat scroll 10px;
}

button{
    min-width: 31%;
    border: none;
    border-radius: 5px;
    margin: 1px;
    font-family: 'Space Mono', monospace;
    background-color: hsl(186, 14%, 43%);
    font-size: 1.5rem;
    color: white;
}

#btnReset{
    width: 50%;
    border: none;
    height: 2rem;
    margin-left: 25%;
    background-color:  hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
}

#logo {
    width: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.content {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    padding: 1rem;
    font-family: href="https://fonts.google.com/specimen/Space+Mono";
}

input{
    font-family: 'Space Mono', monospace;
    font-size: 1,5rem;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1%;
}

.showDiv {
    width: 50%;

    border-radius: 20px;
    background-color: hsl(183, 100%, 15%);
    padding: 1%;
}

.checked {
    background-color: hsl(185, 41%, 84%);
}
.right-side{
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
}
.left-side{
    margin-right: auto;
}

::placeholder{
    text-align: center;
}
.costumPerc{
    border: none;
    background-color: hsl(185, 41%, 84%);
    font-size: 1.5rem;
    width: 29%;
    border: none;
    border-radius: 5px;
    text-align: right;
}