body{
    background: beige;
    height: 500px;
    width: 500px;
}

.box {
    width: 100px;
    height: 100px;    
		
    animation: box 15s infinite;
    border-radius: 50%;
    position: relative;
}

@keyframes box{
    0% {
        background-color: #25DE1F;
        margin-top: 0%;
        margin-left: 0%;
	}
    25% {
        margin-left: 100%;
        margin-top: 0%;
    }
    50% {
        background-color: #1F25DE;
        margin-left: 100%;
        margin-top: 100%;
    }
    75% {
        
        background-color: #DE1F25;
        margin-top: 100%;
        margin-left: 0%;
    }
    100%{
        background-color: #25DE1F;;
        margin-top: 0%;
        margin-left: 0%;
    }
}